
div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: rgb(255, 20, 147, 0.55);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    margin: 40px auto;

}


p {
    font-size: 15pt;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 8px;
}


input {
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    color: #ae3377;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px;
    margin: 8px 5px;
    width: 80%;
    transition: 0.3s ease;
}


input:focus {
    background-color: rgb(209, 155, 192);
    border-color: #ae3377;
    color: white;
    transform: scale(1.05);
}


button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgba(253, 181, 223, 0.9);
    border: 2px solid #ae3377;
    color: #ae3377;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.3s ease;
}


button:hover {
    background-color: #ae3377;
    color: white;
    transform: scale(1.08);
}


